.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/GE2a.gif'); /* o URL externa */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.login-form {
  background-color: rgba(30, 30, 30, 0.85); /* semi-transparente para que se vea el fondo */
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(100, 108, 255, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 2;
}


.login-form h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.8rem;
}

.login-form input {
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 1rem;
}

.login-form input::placeholder {
  color: #aaaaaa;
}

.login-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #646cff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #535bf2;
}

.login-form p {
  color: red;
  margin-bottom: 1rem;
}
